* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* ----------
header section
----------- */
.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    column-gap: 80px;
    margin-bottom: 180px;
}

.header div {
    width: 100%;
}

.content-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.content-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 180px 32px 0px;
}

.btn1 {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;

}

.header-pic {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* ------------------
bonus section
------------------ */

.bonus-section {
    display: flex;
    flex-direction: column;
}

.bonus-title {
    color: #272727;
    text-align: center;

    font-size: 40px;
    font-weight: 800;

}

.bonus-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.rectangle-flowers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0px 200px 130px;
    min-width: max-content;

}

.rectangle {
    width: 100%;

}

.rectangle-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-price {
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/*=========================
 extra section
========================= */
.extra-section{
    margin: 100px 200px;
}
.extra-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    background-color: rgba(202, 238, 227, 0.2);
}

.extra-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.extra-photo img {
    width: 100%;
    text-align: left;

}

.btn-extra {
    align-self: center;
    width: fit-content;
}

.extra-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.flowers-price {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: gray;
}

.btn5 {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #15ce81;
    padding: 20px 43px;
    border: none;
    width: min-content;
    align-self: center;
    margin-top: 35px;
}

.btn5:hover {
    background-color: rgb(255, 154, 31);
    padding: 30px 60px;
    cursor: pointer;
}

.flowers-price:hover {
    cursor: zoom-in;
    box-shadow: gray;
}

/* ----------------- 
hot deal section 
--------------------- */
.hot-deal-section {
    border-radius: 8px;
    background-color: rgba(229, 84, 115, .05);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 160px;
    padding: 100px 400px;
    margin-bottom: 130px;
}

.hot-deal-section div {
    width: 100%;
}

.discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.discount-title,
.extra-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.span {
    color: #E55473;
}

.discount-info,
.extra-info {
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* ===============
insta section
=============== */
.insta-section {
    margin: 0px 200px 130px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-info {
    margin-top: 24px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.insta-photo{
    margin: 0px;
}
.insta-photo img{
width: 200px;
}
/* ==================
subscribe section
===================== */
.subscribe {
    background-image: url(../image/Rectangle\ 9.png);
    background-size: cover;
    margin: 0px 200px;
    padding: 120px 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px
}

.subscribe-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.subscribe-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 48px;
}

#email {
    padding: 23px 500px 20px 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}

/* ==================
footer section
=================== */
.footer {
    background: #111010;
    text-align: center;
    padding: 120px 600px;

}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.flower {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-info {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.copyright-alert {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}